.navlinks {
  display: flex;
  justify-content: space-between;
}

.navlinks h3 {
  display: inline-flex;
}

.start-container button {
  position: relative;
  width: 200px;
  left:  200px;
  border-style: dashed;
}

.quiz-container {
  display: none;
}

.formatting,
.nextquestion {
  display: flex;
  justify-content: center;

}

.option-list {
  display:grid;
  justify-content: center;
}

.nextquestion {
  align-content: center;
  
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanation {
  width: 400px;
  height: auto;
}

.check {
  margin-right: 25px;
}

.next {
  margin-left: 25px;
}