.navlinks {
  display: flex;
  justify-content: space-between;
}


.container,
.nextquestion {
  display: flex;
  justify-content: center;

}

.option-list {
  display:grid;
  justify-content: center;
}

.nextquestion {
  align-content: center;
  justify-content: space-around;
}

.result,
.explanation {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 400px;
  height: auto;
  outline: dashed 1px black;
}