.navlinks {
  display: flex;
  justify-content: space-between;
}

.container,
.nextquestion {
  display: flex;
  justify-content: center;

}

.option-list {
  display:grid;
  justify-content: center;
}

.nextquestion {
  align-content: center;
  
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanation {
  width: 400px;
  height: auto;
}

.check {
  margin-right: 25px;
}

.next {
  margin-left: 25px;
}